<h1 id="pagetitle">Is this statement positive or normative?</h1>

@defer {
    @if (cStatements.length > 0) {
        <h3 id="sentence">{{ cStatements[currentPos].sentence }}</h3>

        <div id="responsebuttons">
            <button (click)="onSubmit(true)">Positive</button>
            <button (click)="onSubmit(false)">Normative</button>
        </div>
    } @else {
        <h2 id="finishedtitle">No more sentences to classify!</h2>
    }
} @loading (minimum 400ms) {
    <p id="loading">Loading...</p>
}